In [1]:
import numpy as np 
import pandas as pd 
from tqdm import tqdm
import json

In [2]:
# strategy for imputation - concat in order, groupby, first

In [3]:
path = './files/T0_image_pseudolabels_full.csv'
t0_image = pd.read_csv(path)
path = './files/T1_image_pseudolabels_full.csv'
t1_image = pd.read_csv(path)
path = './files/T2_image_pseudolabels_full.csv'
t2_image = pd.read_csv(path)

In [4]:
path = '../../data/Mellody_tuner/all/input_all/T0.csv'
t0 = pd.read_csv(path)
path = '../../data/Mellody_tuner/all/input_all/T1.csv'
t1 = pd.read_csv(path)
path = '../../data/Mellody_tuner/all/input_all/T2.csv'
t2 = pd.read_csv(path)

In [5]:
path = './files/T1_image_truelabels.csv'
t1_image_true = pd.read_csv(path)

In [6]:
t2.tail()

        input_compound_id                                     smiles
520391            2275345  [O-][N+](=O)c1cccc(c1)-c1nc2ccccc2c(=O)o1
520392            2275362  [O-][N+](=O)c1ncccc1OCC(=O)Nc1ccc2CCCc2c1
520393            2275364               [O-][n+]1onc-2c1CCc1nnccc-21
520394            2275365             c1ccc(cc1)-c1cnc(nn1)-c1ccccn1
520395            2275366             c1ccc(cc1)-c1cnnc(n1)-c1ccccn1

In [7]:
t2.min()

input_compound_id                                                   23
smiles               Bc1ccc(cc1)S(=O)(=O)N2CCN(CC2)C(=O)N3CCN(CC3)c...
dtype: object

In [8]:
t2.max()

input_compound_id                               2275366
smiles               o1nc2nc(c3ccccc3)n4c5ccccc5nc4c2n1
dtype: object

In [9]:
t2_image.min()

input_compound_id                                 97
smiles               BrC1=CN2CCS(=O)(=O)N=C2C(Br)=C1
dtype: object

In [10]:
t2_image.max()

input_compound_id                          2275366
smiles               c1nn(nc1-c1nn[nH]n1)-c1ccccc1
dtype: object

In [11]:
t0_out = pd.concat([t0,t0_image])

In [12]:
t2_out = pd.concat([t2,t2_image])

In [13]:
t2.shape

(520396, 2)

In [14]:
t2_image.shape

(30408, 2)

In [15]:
t2.shape[0] + t2_image.shape[0]

550804

In [16]:
t2_out.shape

(550804, 2)

In [17]:
t2['input_compound_id']

0         1075529
1         1203610
2         1203845
3         1203966
4         2176418
           ...
520391    2275345
520392    2275362
520393    2275364
520394    2275365
520395    2275366
Name: input_compound_id, Length: 520396, dtype: int64

In [18]:
t2_image['input_compound_id']

0         845253
1        2255046
2        2255047
3         298290
4         922657
          ...
30403     773366
30404     989091
30405      26590
30406     736500
30407     747009
Name: input_compound_id, Length: 30408, dtype: int64

In [19]:
t2_out = t2_out.groupby(by='input_compound_id').first()

In [20]:
t2_out

                                                              smiles
input_compound_id
23                               Br\C=C\1/CCC(C(=O)O1)c2cccc3ccccc23
97                     COc1cc2nc(nc(N)c2cc1OC)N3CCN(CC3)C(=O)c4occc4
111                   [Na+].Cc1cc(CC(=O)[O-])n(C)c1C(=O)c2ccc(Cl)cc2
115                                             CN1CCC[C@H]1c2cccnc2
116                                           C1CN[C@@H](C1)c2cccnc2
...                                                              ...
2275362                    [O-][N+](=O)c1ncccc1OCC(=O)Nc1ccc2CCCc2c1
2275363            [O-][N+](=O)c1nn(Cc2ccc(o2)C(=O)NN=Cc2cccc(Cl)...
2275364                                 [O-][n+]1onc-2c1CCc1nnccc-21
2275365                               c1ccc(cc1)-c1cnc(nn1)-c1ccccn1
2275366                               c1ccc(cc1)-c1cnnc(n1)-c1ccccn1

[539523 rows x 1 columns]

In [21]:
t1_concat_out = pd.concat([t1_image_true,t1,t1_image])

In [22]:
t1_concat_out

        input_assay_id  standard_value standard_qualifier  input_compound_id
0           10000000.0             6.0                  =               9495
1           10000001.0             0.0                  =               9495
2           10000005.0             0.0                  =               9495
3           10000012.0             0.0                  =               9495
4           10000014.0             0.0                  =               9495
...                ...             ...                ...                ...
404774      10000060.0             6.0                  =            2275364
404775      10000060.0             6.0                  =             743980
404776      10000060.0             6.0                  =             770512
404777      10000060.0             6.0                  =            2275365
404778      10000060.0             6.0                  =              54715

[3431340 rows x 4 columns]

In [23]:
t1_out = t1_concat_out.groupby(by=['input_compound_id','input_assay_id']).first()

In [24]:
t1_out

                                  standard_value standard_qualifier
input_compound_id input_assay_id
23                688171.0              4.599999                  =
                  688184.0              5.350003                  =
                  688238.0              6.299989                  =
                  688258.0              4.400000                  =
                  688259.0              8.494850                  =
...                                          ...                ...
2275366           845196.0              1.000000                  =
                  1301620.0             1.000000                  =
                  1495346.0            -1.000000                  =
                  10000043.0            6.000000                  =
                  10000055.0            0.000000                  =

[3380710 rows x 2 columns]

In [25]:
t1_out.shape

(3380710, 2)

In [26]:
t1.shape

(1662502, 4)

In [27]:
t1_image.shape

(404779, 4)

In [28]:
t1_image_true.shape

(1364059, 4)

In [29]:
(-t1_out.shape[0] + t1.shape[0] + t1_image.shape[0] + t1_image_true.shape[0])

50630

In [30]:
(-t1_out.shape[0] + t1.shape[0] + t1_image.shape[0] + t1_image_true.shape[0]) / t1_image_true.shape[0]

0.03711716282066978

In [31]:
t1_out.reset_index().head()

   input_compound_id  input_assay_id  standard_value standard_qualifier
0                 23        688171.0        4.599999                  =
1                 23        688184.0        5.350003                  =
2                 23        688238.0        6.299989                  =
3                 23        688258.0        4.400000                  =
4                 23        688259.0        8.494850                  =

In [32]:
t0_out.to_csv('./files/baseline_plus_aux_data/T0_image_pseudolabels_plus_baseline.csv',index=False)

In [33]:
t1_out.reset_index().to_csv('./files/baseline_plus_aux_data/T1_image_pseudolabels_plus_baseline.csv',index=False)

In [40]:
len(list(t2_out.reset_index().input_compound_id.unique())), len(list(t1_out.reset_index().input_compound_id.unique()))

(538733, 538733)

In [37]:
t2_indexes =  t2_out.reset_index().input_compound_id.unique()
t1_indexes = t1_out.reset_index().input_compound_id.unique()

In [38]:
l = [i for i in t2_indexes if i not in t1_indexes]
l

[2255059,
 2255076,
 2255098,
 2255099,
 2255105,
 2255108,
 2255114,
 2255122,
 2255125,
 2255131,
 2255133,
 2255143,
 2255159,
 2255164,
 2255170,
 2255173,
 2255180,
 2255188,
 2255189,
 2255193,
 2255221,
 2255222,
 2255227,
 2255229,
 2255268,
 2255287,
 2255312,
 2255317,
 2255319,
 2255334,
 2255336,
 2255342,
 2255346,
 2255350,
 2255375,
 2255481,
 2255485,
 2255488,
 2255492,
 2255535,
 2255537,
 2255763,
 2255772,
 2255775,
 2256106,
 2256121,
 2256136,
 2256159,
 2256167,
 2256232,
 2256234,
 2256239,
 2256244,
 2256268,
 2256276,
 2256278,
 2256280,
 2256282,
 2256286,
 2256287,
 2256290,
 2256304,
 2256371,
 2256418,
 2256421,
 2256470,
 2256471,
 2256511,
 2256540,
 2256648,
 2256770,
 2256772,
 2256801,
 2256803,
 2256918,
 2256926,
 2257003,
 2257004,
 2257054,
 2257055,
 2257084,
 2257096,
 2257117,
 2257141,
 2257142,
 2257180,
 2257183,
 2257186,
 2257192,
 2257365,
 2257396,
 2257510,
 2257531,
 2257539,
 2257557,
 2257602,
 2257613,
 2257617,
 2257733,
 2257736,
 2257742,
 2257764,
 2257771,
 2257780,
 2257918,
 2257987,
 2258005,
 2258020,
 2258031,
 2258062,
 2258068,
 2258095,
 2258096,
 2258100,
 2258101,
 2258105,
 2258154,
 2258203,
 2258206,
 2258209,
 2258213,
 2258216,
 2258222,
 2258231,
 2258235,
 2258241,
 2258242,
 2258247,
 2258250,
 2258271,
 2258277,
 2258281,
 2258282,
 2258306,
 2258336,
 2258342,
 2258344,
 2258349,
 2258351,
 2258353,
 2258355,
 2258356,
 2258360,
 2258361,
 2258376,
 2258377,
 2258378,
 2258381,
 2258383,
 2258385,
 2258395,
 2258415,
 2258511,
 2258513,
 2258523,
 2258575,
 2258582,
 2258602,
 2258612,
 2258632,
 2258633,
 2258635,
 2258636,
 2258639,
 2258646,
 2258649,
 2258656,
 2258657,
 2258659,
 2258676,
 2258682,
 2258745,
 2258780,
 2258852,
 2258894,
 2258895,
 2258932,
 2258974,
 2258998,
 2259066,
 2259080,
 2259087,
 2259088,
 2259115,
 2259125,
 2259214,
 2259215,
 2259216,
 2259243,
 2259273,
 2259284,
 2259303,
 2259340,
 2259345,
 2259348,
 2259362,
 2259363,
 2259377,
 2259390,
 2259418,
 2259423,
 2259440,
 2259455,
 2259456,
 2259507,
 2259549,
 2259556,
 2259586,
 2259587,
 2259590,
 2259601,
 2259606,
 2259625,
 2259644,
 2259645,
 2259652,
 2259671,
 2259685,
 2259689,
 2259693,
 2259694,
 2259730,
 2259738,
 2259743,
 2259747,
 2259769,
 2259770,
 2259772,
 2259786,
 2259791,
 2259825,
 2259828,
 2259848,
 2259849,
 2259850,
 2259851,
 2259852,
 2259859,
 2259896,
 2259900,
 2259905,
 2259908,
 2260509,
 2260510,
 2260513,
 2260521,
 2260535,
 2260536,
 2260544,
 2260559,
 2260569,
 2260595,
 2260603,
 2260637,
 2260638,
 2260641,
 2260659,
 2260666,
 2260667,
 2260696,
 2260708,
 2260781,
 2260797,
 2260819,
 2260834,
 2260837,
 2260844,
 2260849,
 2261071,
 2261089,
 2261092,
 2261257,
 2261268,
 2261276,
 2261304,
 2261314,
 2261322,
 2261350,
 2261429,
 2261467,
 2261494,
 2261501,
 2261504,
 2261513,
 2261523,
 2261529,
 2261536,
 2261543,
 2261545,
 2261558,
 2261562,
 2261576,
 2261667,
 2261668,
 2261680,
 2261681,
 2261688,
 2261713,
 2261739,
 2261741,
 2261746,
 2261765,
 2261770,
 2261792,
 2261793,
 2261798,
 2261799,
 2261805,
 2261807,
 2261808,
 2261809,
 2261812,
 2261813,
 2261815,
 2261823,
 2261832,
 2261862,
 2261863,
 2261871,
 2261872,
 2261892,
 2261894,
 2261895,
 2261910,
 2261913,
 2261917,
 2261942,
 2262056,
 2262149,
 2262154,
 2262248,
 2262434,
 2262456,
 2262459,
 2262555,
 2262640,
 2262852,
 2262853,
 2262923,
 2262945,
 2262946,
 2262970,
 2262971,
 2262972,
 2262973,
 2262975,
 2262988,
 2262993,
 2263001,
 2263005,
 2263043,
 2263051,
 2263053,
 2263055,
 2263063,
 2263074,
 2263075,
 2263083,
 2263086,
 2263091,
 2263092,
 2263095,
 2263096,
 2263100,
 2263101,
 2263109,
 2263110,
 2263147,
 2263150,
 2263151,
 2263152,
 2263155,
 2263158,
 2263159,
 2263169,
 2263177,
 2263178,
 2263180,
 2263186,
 2263187,
 2263199,
 2263211,
 2263233,
 2263234,
 2263237,
 2263244,
 2263352,
 2263413,
 2263414,
 2263438,
 2263478,
 2263533,
 2263536,
 2263623,
 2263736,
 2263788,
 2263833,
 2264036,
 2264083,
 2264115,
 2264150,
 2264167,
 2264182,
 2264184,
 2264189,
 2264199,
 2264206,
 2264249,
 2264266,
 2264267,
 2264269,
 2264288,
 2264289,
 2264294,
 2264365,
 2264386,
 2264425,
 2264464,
 2264466,
 2264473,
 2264485,
 2264669,
 2264681,
 2264684,
 2264705,
 2264748,
 2264750,
 2264780,
 2264785,
 2264788,
 2264805,
 2264806,
 2264818,
 2264862,
 2264864,
 2264900,
 2264902,
 2264903,
 2264905,
 2264909,
 2264921,
 2264932,
 2264933,
 2264935,
 2264937,
 2264939,
 2264962,
 2265012,
 2265019,
 2265021,
 2265040,
 2265130,
 2265136,
 2265143,
 2265145,
 2265152,
 2265173,
 2265175,
 2265181,
 2265185,
 2265186,
 2265192,
 2265257,
 2265267,
 2265328,
 2265329,
 2265332,
 2265333,
 2265338,
 2265351,
 2265364,
 2265369,
 2265370,
 2265387,
 2265428,
 2265431,
 2265466,
 2265467,
 2265468,
 2265470,
 2265480,
 2265502,
 2265554,
 2265621,
 2265638,
 2265639,
 2265640,
 2265656,
 2265659,
 2265665,
 2265673,
 2265716,
 2265718,
 2265719,
 2265758,
 2265798,
 2265801,
 2265803,
 2265829,
 2265835,
 2265839,
 2265847,
 2265865,
 2265868,
 2265876,
 2265885,
 2265892,
 2265902,
 2265913,
 2265922,
 2265944,
 2265952,
 2265993,
 2266024,
 2266180,
 2266186,
 2266188,
 2266217,
 2266220,
 2266231,
 2266250,
 2266280,
 2266287,
 2266425,
 2267264,
 2267663,
 2268430,
 2268507,
 2268530,
 2268782,
 2268815,
 2269051,
 2269052,
 2269190,
 2270734,
 2270792,
 2270811,
 2270839,
 2270937,
 2270945,
 2270968,
 2271047,
 2271093,
 2271100,
 2271190,
 2271191,
 2271202,
 2271204,
 2271214,
 2271220,
 2271226,
 2271242,
 2271249,
 2271260,
 2271264,
 2271268,
 2271277,
 2271281,
 2271285,
 2271286,
 2271287,
 2271308,
 2271311,
 2271328,
 2271334,
 2271345,
 2271350,
 2271390,
 2271429,
 2271459,
 2271461,
 2271464,
 2271474,
 2271492,
 2271505,
 2271508,
 2271510,
 2271513,
 2271524,
 2271525,
 2271531,
 2271545,
 2271551,
 2271554,
 2271555,
 2271557,
 2271563,
 2271587,
 2271592,
 2271602,
 2271604,
 2271611,
 2271612,
 2271626,
 2271627,
 2271634,
 2271648,
 2271650,
 2271660,
 2271662,
 2271670,
 2271716,
 2271723,
 2271742,
 2271743,
 2271746,
 2271752,
 2271760,
 2271770,
 2271771,
 2271779,
 2271794,
 2271819,
 2271824,
 2271825,
 2271830,
 2271837,
 2271838,
 2271853,
 2271855,
 2271856,
 2271861,
 2271862,
 2271910,
 2271931,
 2271941,
 2271959,
 2271964,
 2271972,
 2271974,
 2271977,
 2271978,
 2271983,
 2271987,
 2271988,
 2272004,
 2272009,
 2272035,
 2272064,
 2272066,
 2272067,
 2272108,
 2272115,
 2272116,
 2272119,
 2272127,
 2272142,
 2272159,
 2272160,
 2272171,
 2272180,
 2272185,
 2272186,
 2272191,
 2272204,
 2272206,
 2272225,
 2272233,
 2272249,
 2272267,
 2272358,
 2272362,
 2272402,
 2272416,
 2272418,
 2272428,
 2272433,
 2272470,
 2272501,
 2272542,
 2272581,
 2272586,
 2272587,
 2272636,
 2272734,
 2272775,
 2272810,
 2272891,
 2272910,
 2272958,
 2272998,
 2273001,
 2273084,
 2273116,
 2273133,
 2273166,
 2273186,
 2273192,
 2273230,
 2273247,
 2273262,
 2273298,
 2273328,
 2273340,
 2273345,
 2273352,
 2273364,
 2273388,
 2273391,
 2273433,
 2273457,
 2273469,
 2273496,
 2273502,
 2273563,
 2273610,
 2273646,
 2273682,
 2273775,
 2273807,
 2273812,
 2273867,
 2273909,
 2273953,
 2273956,
 2274211,
 2274227,
 2274275,
 2274331,
 2274338,
 2274393,
 2274411,
 2274412,
 2274440,
 2274449,
 2274487,
 2274542,
 2274706,
 2274712,
 2274725,
 2274737,
 2274814,
 2274830,
 2274866,
 2274891,
 2274900,
 2274906,
 2274930,
 2274945,
 2274954,
 2274959,
 2274963,
 2274981,
 2274987,
 2274995,
 2275007,
 2275013,
 2275019,
 2275021,
 2275023,
 2275029,
 2275043,
 2275045,
 2275050,
 2275054,
 2275055,
 2275057,
 2275089,
 2275092,
 2275093,
 2275099,
 2275102,
 2275107,
 2275114,
 2275115,
 2275124,
 2275129,
 2275131,
 2275132,
 2275142,
 2275147,
 2275164,
 2275168,
 2275172,
 2275176,
 2275194,
 2275200,
 2275216,
 2275224,
 2275268,
 2275287,
 2275288,
 2275289,
 2275311,
 2275318,
 2275339,
 2275342,
 2275351,
 2275356,
 2275360]

In [39]:
t2_out_filtered = t2_out.reset_index()[~t2_out.reset_index()['input_compound_id'].isin(l)]

In [ ]:
t2_out_filtered.to_csv('./files/baseline_plus_aux_data/T2_image_pseudolabels_plus_baseline.csv',index=False)